[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=/usr/local/bin/uwsgi -i /Users/jaemoon/Desktop/Django-project/infra/uwsgi.ini
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target
